@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #c1d3ff, #a78cdd);
    padding-bottom: 20px;
}

.header {
    position: fixed;
    top: 0;
    background: linear-gradient(to right, #f7d79f, #baf3db, #f1f2f4);
    padding: 0% 6%;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    z-index: 9;
    box-shadow: 0px 2px 10px #000;
}

.profile-handle {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-handle i {
    color: #222b3f;
    font-size: 20px;
    cursor: pointer;
}

.header .back {
    cursor: pointer;
    color: #222b3f;
    text-decoration: none;
    font-size: 18px;
    transition: all .3s;
}

.header .back:hover {
    color: #34415f;
}

.header .back:active {
    transform: scale(0.9);
}

.heading {
    color: #fff;
    -webkit-text-stroke: 1px #000;
    font-size: 50px;
}

h1 {
    color: #fff;
    -webkit-text-stroke: 1px #000;
    font-size: 50px;
}

button,
.logout {
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #34415f;
    color: #fff;
    font-size: 15px;
    transition: all .3s;
}

button:active {
    transform: scale(0.96);
}

button:hover {
    background-color: #222b3f;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-top: 150px;
}

@keyframes glowCard {
    0% {
        box-shadow: 0 0 8px rgba(167, 140, 221, 0.3);
    }

    50% {
        box-shadow: 0 0 20px rgba(167, 140, 221, 0.7);
    }

    100% {
        box-shadow: 0 0 8px rgba(167, 140, 221, 0.3);
    }
}

.inner-container {
    width: 350px;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 10px 10px;
    border: 1px solid rgba(167, 140, 221, 0.2);
    text-align: center;
    transition: all 0.3 ease;
    animation: glowCard .3s;
}

#inQueue {
    background: linear-gradient(135deg, #f7d79f, #fff0cc);
}

#inprogress {
    background: linear-gradient(135deg, #baf3db, #e8fff4);
}

#completed {
    background: linear-gradient(135deg, #f1f2f4, #ffffff);
}

.inner-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #34415f;
}

.blackdrop {
    position: fixed;
    inset: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 10;

}

.create {
    margin: 10px 0px;
}

.pop-up-tool {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 100;
    box-shadow: 1px 1px 10px 1px #000;
    transition: all 0.3s ease;
}

.pop-up-tool h1 {
    font-size: 40px;
}

.pop-up-tool input {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.pop-up-tool input:focus {
    border: 2px solid #174dca;
}

.todo-item {
    min-height: 100px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.1),
        inset 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 5px;
}

.inner-container button {
    width: 100%;
    background-color: #34415f;
    color: #fff;
}

.todo-item li {
    position: relative;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #000;
    cursor: pointer;
    transition: all .3s;
    background-color: #fff;
    color: #34415f;
}

.todo-item li:hover {
    box-shadow: inset 1px 1px 1px 1px #000;
}

.todo-item li p {
    max-width: 90%;
    overflow-wrap: break-word;
    text-align: left;
}

.pencil {
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all .3s;
}

.pencil:hover {
    color: #8fb1f0;
}

.pencil:active {
    color: #000;
}

.edit-pop-up {
    position: fixed;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    z-index: 100;
}

.edit-input {
    min-width: 300px;
}

.edit-input textarea {
    min-width: 100%;
    height: 80px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    vertical-align: start;
    resize: none;
}

.edit-input textarea:focus {
    border: 2px solid #174dca;
}

.animation {
    display: none;
}

.edit-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    border-radius: 5px;
}

.edit-buttons a {
    background-color: #f1f2f4;
    padding: 5px;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    transition: all .3s ease;
}

.edit-pop-up a:hover {
    background-color: #34415f;
    color: #fff;
}

.todo-item li .task-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
    /* transition: all 0.3s ease; */
}

.dragging {
    border: 1px solid #174dca;
}

.bi-caret-down-fill {
    display: inline-block;
    transition: transform 0.3s ease;
}

.bi-caret-down-fill:hover {
    color: #8fb1f0;
}

.rotate {
    transform: rotate(540deg);
}

.hover {
    transition: all 0.3s;
}

.hover:hover {
    transform: scale(1.2);
}

.subtask {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
    margin: 4px 0px;
    transition: all 0.3s;
}

.dropdown {
    max-height: 0px;
    overflow: hidden;
}

.animation-height {
    max-height: 0px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    color: #fff;
}

@media (max-width:500px) {
    .heading {
        font-size: 30px;
    }
}